
/*banner*/
.banner {
    margin: 0 auto;
    width:850px;
    height:407px;
    border-radius:10px;
    background:url(../images/bn_bg2.jpg) repeat;
    position:relative;
}
.shaomiao {
    width:204px;
    height:600px;
    position:absolute;
    left:34px;
    overflow:hidden;
    transition:all 1s;
    top:85px;
    opacity:1;
}
.shouji {
    width:204px;
    height:425px;
    background:url(../images/app_n_sprite5.gif) no-repeat 0 0;
    overflow:hidden;
}
.shouji-in {
    width:170px;
    height:302px;
    background:#000;
    margin:63px auto;
    position:relative;
    overflow:hidden;
}
.shouji-in ul {
    width:2000px;
    position:absolute;
    left:0;
}
.shouji-in ul li {
    float:left;
}
ol {
    position:absolute;
    left:30%;
    margin-left:-34px;
    bottom:130px;
}
ol li {
    float:left;
    width:11px;
    height:11px;
    background:#bdbcbd;
    border-radius:50%;
    margin-left:5px;
    cursor:pointer;
}
.current {
    background:#ffa800;
}
.app {
    width:100px;
    height:100px;
    background:url(../images/gonglve.png) no-repeat;
    margin:70px auto;
}
.download {
    margin: 0 auto;
    width:588px;
    height:268px;
    margin-top:120px;
}
.download div ul {
    height:42px;
    margin-bottom:46px;
}
.download div ul li {
    float:left;
    width:124px;
    height:42px;
    background:#000;
    background:url(../images/app_n_sprite5.gif) no-repeat 0 0;
    margin-right:20px;
}
.download li:nth-of-type(1) {
    background-position:-225px 0;
}
.download li:nth-of-type(1):hover {
    background-position:-225px -64px;
}
.download li:nth-of-type(2) {
    background-position:-385px 0;
}
.download li:nth-of-type(2):hover {
    background-position:-385px -64px;
}
.download li:nth-of-type(3) {
    background-position:-545px 0;
}
.download li:nth-of-type(3):hover {
    background-position:-545px -64px;
}
.download li:nth-of-type(4) {
    width:156px;
    height:42px;
    margin:0;
    background-position:-705px 0;
}
.download li:nth-of-type(4):hover {
    background-position:-705px -64px;
}
.download dt {
    padding-bottom:12px;
    font-size:22px;
    font-weight:bold;
    line-height:30px;
}
.download dd {
    font-size:14px;
    color:#666;
    line-height:28px;
}
.main-right {
    float:right;
    width:110px;
    height:407px;
    position:absolute;
    right:0px;
    top:0px;
}
.main-right  li:nth-of-type(1) {
    width:105px;
    height:88px;
    background:url(../images/app_n_sprite5.gif) no-repeat -225px -163px;
    overflow:hidden;
}
.main-right  li:nth-of-type(1) img {
    margin:9px 0 0 26px;
}
.main-right  li:nth-of-type(2) img {
    margin:9px 0 0 26px;
}
.main-right  li:nth-of-type(3) img {
    margin:9px 0 0 26px;
}
/*footer*/
.footer {
    background:#3c3c3c;
    margin-top:100px;
}
.footer-in {
    width:1000px;
    margin:0 auto;
    background:#3c3c3c;
    color:#c2c2c2;
    overflow:hidden;
}
.footer-yi {
    width:980px;
    height:167px;
    margin:0 auto;
    margin-top:24px;
}
.footer-yi dl {
    float:left;
}
.footer-yi dl dt {
    font-size:14px;
}
.footer-yi dl:nth-of-type(1) {
    width:168px;
}
.footer-yi dl:nth-of-type(1) dd {
    line-height:24px;
}
.footer-yi dl:nth-of-type(2) {
    width:120px;
    margin-left:100px;
}
.footer-yi dl:nth-of-type(2) a {
    display:block;
}
.footer-yi dl:nth-of-type(3) {
    text-align:center;
}
.footer-yi dl:nth-of-type(3) {
    width:132px;
    margin-left:100px;
}
.footer-yi dl:nth-of-type(3) a:nth-of-type(2),.footer-yi dl:nth-of-type(3) a:nth-of-type(4),.footer-yi dl:nth-of-type(3) a:nth-of-type(6),.footer-yi dl:nth-of-type(3) a:nth-of-type(8),.footer-yi dl:nth-of-type(3) a:nth-of-type(10) {
    padding-left:30px;
}
.footer-yi dl dd strong {
    font-weight:normal;
    color:#ff9d00;
}
.footer-in a {
    color:#c2c2c2;
    font-size:12px;
    line-height:24px;
}
.footer-in dl dd a:hover {
    color:#ffffff;
}
.erweima {
    float:right;
    width:220px;
    height:127px;
    margin-top:28px;
}
.first {
    float:left;
}
.first span:nth-of-type(1),.second span:nth-of-type(1) {
    width:90px;
    height:90px;
    display:block;
}
.first span:nth-of-type(1) {
    background:url(../images/qr_mfw4.gif) no-repeat;
}
.second {
    float:right;
}
.second span:nth-of-type(1) {
    background:url(../images/qr_tejia3.png) no-repeat;
}
.first span:nth-of-type(2),.second span:nth-of-type(2) {
    line-height:37px;
}
.erweima {
    float:right;
    width:220px;
    height:127px;
    margin-top:28px;
}
.first {
    float:left;
}
.first span:nth-of-type(1) {
    width:90px;
    height:90px;
    display:block;
    background:url(../images/qr_mfw4.gif) no-repeat;
}
.second {
    float:right;
}
.second span:nth-of-type(1) {
    width:90px;
    height:90px;
    display:block;
    background:url(../images/qr_tejia3.png) no-repeat;
}
.first span:nth-of-type(2),.second span:nth-of-type(2) {
    line-height:37px;
}
.footer-er {
    width:1000px;
    height:77px;
    text-align:center;
    margin-top:8px;
}
.footer-er span {
    line-height:49px;
}
.xh {
    width:114px;
    margin:0 auto;
}
.xh a:nth-of-type(1) span,.xh a:nth-of-type(2) span,.xh a:nth-of-type(3) span {
    float:left;
    width:28px;
    height:28px;
    display:block;
    background:url(../images/mfw-footer-sprite4.png) no-repeat;
}
.xh a:nth-of-type(2) span,.xh a:nth-of-type(3) span {
    margin-left:15px;
}
.xh a:nth-of-type(2) span {
    background-position:-30px 0;
}
.xh a:nth-of-type(3) span {
    background-position:-60px 0;
}
.footer-san {
    width:980px;
    height:101px;
    border-top:1px solid #575a5b;
    margin:0 auto;
    margin-top:20px;
    padding:16px 0;
    box-sizing:border-box;
}
.footer-san a {
    display:inline-block;
    margin-right:8px;
}
.footer-si {
    width:1000px;
    height:88px;
    border-top:1px solid #575a5b;
    padding-top:14px;
    box-sizing:border-box;
}
.z-logo {
    float:left;
    width:136px;
    height:39px;
    display:block;
    background:url(../images/mfw-footer-sprite4.png) no-repeat 0 -30px;
}
.z-shuoming {
    float:left;
    margin-left:20px;
}
.z-shuoming p span {
    color:#ff9d00;
}
.z-shuoming p a {
    color:#ff9d00;
}
.z-shuoming p a:hover {
    color:#ff9d00;
}
.z-cheng {
    float:right;
    width:190px;
    height:39px;
}
.xing {
    float:left;
    width:90px;
    height:39px;
    background:url(../images/mfw-footer-sprite4.png) no-repeat 0px -69px;
}
.ping {
    float:right;
    width:90px;
    height:39px;
    background:url(../images/mfw-footer-sprite4.png) no-repeat 0 -110px;
}